<head><script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Dia', 'Litros'],
      ['1',  10],
      ['2',  1170],
      ['3',  660],
      ['4',  1030],
      ['4',  1030],
      ['4',  1030],
      ['4',  1030],
      ['4',  1030]

    ]);

    var options = {
      title: 'Quantidade de Litros Medidos Por Dia',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script></head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand text-white bg-dark" (click)="aba= 'home'">Controle Pluvial</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link"  (click)="aba= 'reportProd'">Fluxo Diario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="aba= 'reportFluxoMensal'">Fluxo Mensal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="aba= 'reportCat'">Dispositivos</a>
            </li>
          </ul>
        </div>
    </nav>


</body>

<form [ngSwitch]="aba" >
      <!--Produtos-->
    <div class="container" *ngSwitchCase="'cadastroProd'">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header text-center">Cadastra Produto</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-12">
                    <label for="NomeProd">Produto</label>
                    <input class="form-control" id="NomeProd" name="NomeProd" type="text" placeholder="Digite o nome do produto"[(ngModel)]="NomeProd" required>
                  </div>
                </div>
              </div>
              <label for="arduino">Selecione a categoria</label>
              <div class="form-group col align-self-center">
                  <select [(ngModel)]="IdLora" class="custom-select"  name="arduino">
                      <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                  </select>
              </div>
              <a class="btn btn-primary btn-block" (click)="cadastrarProduto(NomeProd, IdLora);">Cadastrar Produto</a>
            </form>
          </div>
        </div>
      </div>
        <div class="container" *ngSwitchCase="'delProd'">
          <div class="card card-register mx-auto mt-5">
            <div class="card-header text-center">Deleta Produto</div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label for="produtos">Produto</label>
                        <div class="form-group">
                          <select [(ngModel)]="IdProd" class="custom-select"  name="produtos">
                            <option *ngFor="let buscaProd of produtos" [value]="buscaProd.IdProd">{{buscaProd.IdProd}} | {{buscaProd.NomeProd}}</option>
                        </select>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="btn btn-primary btn-block" (click)="apagarProd(IdProd);">Deletar Produto</a>
              </form>
            </div>
          </div>
        </div>
        <div class="container" *ngSwitchCase="'altProd'">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header text-center">Alterar Produto</div>
              <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-12">
                            <label for="produtos">Produto</label>
                            <input class="form-control" [(ngModel)]="NomeProd" id="produtos" name="produtos" type="text" placeholder="Digite o novo nome do produto." required>
                          </div>
                        </div>
                      </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label for="produtos">Selecione o Produto</label>
                          <div class="form-group">
                            <select class="custom-select"  [(ngModel)]="IdProd" name="produtos">
                                <option *ngFor="let busca of produtos" [value]="busca.IdProd">{{busca.NomeProd}}</option>
                            </select>
                          </div>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block" (click)="alterarProd(IdProd);">Alterar Produto</a>
                </form>
              </div>
            </div>
          </div>
        <!--arduino !-->
        <div class="container" *ngSwitchCase="'cadastroCat'">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header text-center">Cadastra Categoria</div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label for="NomeArd">Categoria</label>
                        <input class="form-control" id="NomeArd" name="NomeArd" type="text" placeholder="Digite o nome da categoria"[(ngModel)]="NomeArd" required>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block" (click)="cadastrarArduino(NomeArd);">Cadastrar Categoria</a>
                </form>
              </div>
            </div>
          </div>
          <div class="container" *ngSwitchCase="'delCat'">
              <div class="card card-register mx-auto mt-5">
                <div class="card-header text-center">Deleta Categoria</div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col-md-12">
                          <label for="arduino">Categoria</label>
                            <div class="form-group">
                              <select [(ngModel)]="IdLora" class="custom-select"  name="arduino">
                                  <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-primary btn-block" (click)="apagarArd(IdLora);">Deletar Categoria</a>
                  </form>
                </div>
              </div>
            </div>
            <div class="container" *ngSwitchCase="'altCat'">
                <div class="card card-register mx-auto mt-5">
                  <div class="card-header text-center">Alterar Categoria</div>
                  <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-12">
                                <label for="NomeArd">Categoria</label>
                                <input class="form-control"  [(ngModel)]= "NomeArd" id="NomeArd" name="NomeArd" type="text" placeholder="Digite o nome da categoria" required>
                              </div>
                            </div>
                          </div>
                      <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-12">
                            <label for="arduino">Antiga Categoria</label>
                              <div class="form-group">
                                <select [(ngModel)]="IdLora" class="custom-select"  name="arduino">
                                    <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                      <a class="btn btn-primary btn-block" (click)="alterarArd(IdLora);">Alterar Categoria</a>
                    </form>
                  </div>
                </div>
              </div>
<!--Relatorios!-->
<div class="container" *ngSwitchCase="'reportCat'">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active">Dispositivos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Cadastro de Dispositivos</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <form>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th scope="col">Codigo Dipositivo</th>
                          <th scope="col">Dispositivo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let busca of arduinos">
                          <td> {{busca.IdLora}} </td>
                          <td>{{busca.NomeArd}}</td>
                        </tr>
                      </tbody>
                      </table>
                      </div>
              </form>
        </div>
      </div>
  </div>
  <div class="container" *ngSwitchCase="'reportProd'">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header text-center">Relatorio de Produtos Cadastrados</div>
        <div class="card-body">
          <form>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Codigo Produto</th>
                      <th>Produto</th>
                      <th>Categoria</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let busca of produtos">
                      <td>{{busca.IdProd}} </td>
                      <td>{{busca.NomeProd}}</td>
                      <td>{{busca.IdLora}}</td>
                    </tr>
                  </tbody>
                  </table>
                  </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container" *ngSwitchCase="'reportFluxoMensal'">

      <div class="card card-register mx-auto mt-5">
        <div class="card-header text-center">Relatorio Fluxo Mensal</div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-12">
                  <label for="arduino">Selecione o mes e o ano</label>
                    <div class="form-group">
                      <select [(ngModel)]="IdLora" class="custom-select"  name="arduino">
                          <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                      </select>
                      <select [(ngModel)]="IdLora" class="custom-select"  name="arduino">
                          <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                      </select>

                    </div>
                </div>
              </div>
              <a class="btn btn-primary btn-block" (click)="reportsProdCat(IdLora);">Gerar Relatorio</a>
          <form>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let busca of relatorios">
                      <td>{{busca.IdProd}} </td>
                    </tr>
                  </tbody>
                  </table>
                  </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-12 menu-fixed" *ngSwitchCase="'home'">
      <div class="card text-center">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Sistema de Controle Pluvial Puc Minas - Poços de Caldas</div>
        <div class="card-body">
            <h5 class="card-title">Igor Alexandre Saraiva Silva e Claudio Faria</h5>
            <p class="card-text"> Com os avanços tecnologicos existentes na area de controle, economia
            e automação de processos a Puc Minas de Poços de Caldas viu a necessidade de melhorar
            seu controle pluvial, fazendo assim um sistema totalmente automatizado de controle. </p>
        </div>
        <div class="card-footer small text-muted">
          <a href="https://www.linkedin.com/in/igoralexandre/" class="btn-outline-info">Linkedin - Igor Saraiva</a>
          <a href="https://www.linkedin.com/in/igoralexandre/" class="btn-outline-info">Linkedin - Claudio Faria</a>
        </div>
      </div>
    </div>
    </form>
    <div id="curve_chart" style="width: 900px; height: 500px" ></div>
