.menu-fixed{
  top: 20px
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
.img-responsive{
	max-width: 100%;
}
.fundo-header {
	background-image: url('https://i.imgur.com/DNsW8IB.jpg');
	background-size: cover;
  background-position: top center;
	width: 50%;
	height: 50%;
}
.banner-transparente {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 80%;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}
@media(min-width: 992px) {
	.banner-transparente {
		width: 50%;
	}
}
