<html lang="pt-br">
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="container">
      <a class="navbar-brand text-white bg-dark" (click)="aba= 'home'">Controle Pluvial</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" (click)="aba= 'graficos'" target="_blank">
                  <i class="fa fa-tasks"></i> Graficos</a>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-sort"></i> Pulsos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="aba= 'reportPulsos'" >Geral</a>
                            <a class="dropdown-item" (click)="aba= 'reportPulsosDisp'">Por Dispositivo</a>
                </div>
                </div>

          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="aba= 'dispositivos'"  target="_blank">
                <i class="fa fa-microchip"></i> Dispositivos</a>
        </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="aba= 'sobreNos'">
                Sobre Nós</button>
            <a class="nav-link" (click)="aba= 'config'" target="_blank">
                    <i class="fa fa-cog" aria-hidden="true"></i></a>
        </form>

      </div>
    </nav>
</body>
<div class="content">
<form [ngSwitch]="aba" style="background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);" >
  <!--home !-->
  <section *ngSwitchCase="'home'">
    <div class="container">
        <br>
        <h3>Consumo Diário do Mês Atual</h3>
        <br>
        <google-chart [data]="lineChartData" *ngIf="DadosCarregados"  (chartError)='error($event)'></google-chart>
        <br><br>
      <h3>Sobre Controle Pluvial e Reaproveitamento Hídrico</h3>
        <div class="row">
            <div class="col">
                <img class="img-responsive" src="https://i.imgur.com/1PWrFcb.jpg" href="" alt="">
                <h5>Importancia do Reaproveitamento de Agua</h5>
                <p class="lead">
                  A água tem tido protagonismo nas discussões ambientais em todo o mundo.
                  O recurso, que até alguns anos era negligenciado por ser abundante na Terra,
                  hoje é foco de inúmeras discussões já que seu uso descontrolado e os altos
                  índices de poluição podem comprometer sua disponibilidade.</p>
                <a class="btn btn-primary btn-lg" href="https://www.pensamentoverde.com.br/meio-ambiente/o-reaproveitamento-da-agua-e-sustentabilidade/" role="button">Ver Mais</a>
              </div>
          <div class="col">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                        Dicas de uso do Sistema
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Verificar os gráficos diariamente pode ser fundamental para identificar possíveis gastos desnecessários,
                     ou vazamentos.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      Verificações Diarias
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Lembre-se de verificar constantemente a carga das baterias que alimentam os Arduinos,
                    em caso de queda de energia elas os mantem ligados.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      Atenção
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Certifique-se de que os ESP32 estão liberados pelo CRC.
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngSwitchCase="'home'">
        <div class="container">
        <br><br>
        <div class="row">
          <div class="col">
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/ydECzI4.jpg" alt="ESP32">
              <div class="card-body">
                <h5 class="card-title">ESP32 Lora</h5>
                <p class="card-text">Para este projeto utilizamos o ESP32 da Heltec Automation. Para ver como se deve configura-lo clique no botao abaixo</p>
                <a href="https://jquery.com/" target="blank" class="btn btn-primary">Clique Aqui</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/BEbbRHW.png" alt="GirHub">
              <div class="card-body">
                <h5 class="card-title">GitHub</h5>
                <p class="card-text">Este projeto esta no GitHub a maior plataforma de compartilhamento de código do mundo. Para acessar o projeto basta clicar no botão abaixo.</p>
                <a href="https://github.com/grynfox/ControlePluvial" target="blank" class="btn btn-primary">Clique Aqui</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/Bl67KSJ.jpg" alt="Hidrometro">
              <div class="card-body">
                <h5 class="card-title">Hidrometro</h5>
                <p class="card-text">Saiba como os Hidrometros com leitura de pulso funcionam.</p>
                <a href="https://www.w3schools.com/html/default.asp" target="blank" class="btn btn-primary">Clique Aqui</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/uHu8Qzb.png" alt="Arduino">
              <div class="card-body">
                <h5 class="card-title">IoT Arduino</h5>
                <p class="card-text">Utilize Arduinos em seus projetos. A técnologia que anda de mãos dadas com a Internet of Things</p>
                <a href="https://circuitdigest.com/internet-of-things-iot-projects" target="blank" class="btn btn-primary">Clique Aqui</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>

    <section *ngSwitchCase="'graficos'">
        <p></p>
        <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" (click)="AtualizaGrafico();">Consumo Diário do Mês Atual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" (click)="AtualizaGrafico();">Percentual Médio Diário ou Período </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" (click)="AtualizaGrafico();">Consumo Total por Mês</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="hour-tab" data-toggle="tab" href="#hour" role="tab" aria-controls="hour" aria-selected="false" (click)="AtualizaGrafico();">Consumo Total por Hora</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab" >
            <div class="container">
            <google-chart [data]="lineChartData" *ngIf="DadosCarregados"  (chartError)='error($event)'></google-chart>
            <br>
            <p></p>
            <google-chart [data]="barChartData" *ngIf="DadosCarregados"  (chartError)='error($event)'></google-chart>
          </div>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" >
            <br>
             <form class="form-inline">
                  <input class="form-control"  [(ngModel)]= "dataPulsoInicio" id="dataPulsoInicio" name="dataPulsoInicio" type="date" (ngModelChange)="dataPulsoInicio = $event" required>
                  <input class="form-control"  [(ngModel)]= "dataPulsoFinal" id="dataPulsoFinal" name="dataPulsoFinal" type="date" (ngModelChange)="dataPulsoFinal = $event" required>

                  <a class="btn btn-primary" (click)="reportsMensalLineChartData(dataPulsoInicio, dataPulsoFinal);">Gerar Relatorio</a>
              </form>
                <google-chart [data]="lineChartData" *ngIf="DadosCarregadosData"  (chartError)='error($event)'></google-chart>
                <br>
                <form class="form-inline">
              <select [(ngModel)]="IdLora" class="form-control"  name="categorias">
                  <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
              </select>
              <a class="btn btn-primary" (click)="reportsMensalPieChartDisp(IdLora); ">Gerar Relatorio</a>
              </form>
              <br>
              <google-chart [data]="pieChartData" *ngIf="DadosCarregadosDisp"  (chartError)='error($event)'></google-chart>
            </div>
            <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab" >
                <google-chart [data]="monthChartData" *ngIf="DadosCarregadosMonth"  (chartError)='error($event)'></google-chart>
                  <br>
                <google-chart [data]="monthLineChartData" *ngIf="DadosCarregadosMonth"  (chartError)='error($event)'></google-chart>
          </div>
          <div class="tab-pane" id="hour" role="tabpanel" aria-labelledby="hour-tab" >
            <br>
            <form class="form-inline">
              <input class="form-control"  [(ngModel)]= "mesEAnoValue" id="mesEAnoValue" name="mesEAnoValue" type="date" (ngModelChange)="mesEAnoValue = $event" required>
              <a class="btn btn-primary" (click)="reportsLineChartHoraTotal(mesEAnoValue);">Gerar Relatorio</a>
           </form>
           <google-chart [data]="lineChartData" *ngIf="DadosCarregadosHoraTotal"  (chartError)='error($event)'></google-chart>
                <br>
                <p></p>
                <form class="form-inline">
                <select [(ngModel)]="IdLora" class="form-control"  name="categorias">
                    <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                </select>
                <input class="form-control"  [(ngModel)]= "mesEAnoV" id="mesEAnoV" name="mesEAnoV" type="date" (ngModelChange)="mesEAnoV = $event" required>
                <a class="btn btn-primary" (click)="reportsLineChartHoraDisp(IdLora, mesEAnoV); " (ngModelChange)="IdLora = $event">Gerar </a>
                </form>
                <google-chart [data]="lineChartData" *ngIf="DadosCarregadosHoraDisp"  (chartError)='error($event)'></google-chart>
        </div>
          </div>
      </div>
        </section>

<section *ngSwitchCase="'config'">
  <div class="container">
      <br>
  <a class="btn btn-primary" (click)="AtualizaGrafico(); AtualizaLista();">Atualizar </a>
  </div>

</section>

<!--Relatorios!-->
<section *ngSwitchCase="'dispositivos'">
<div class="container" >
    <div class="card text-center">
        <div class="card-header">
              <a class="nav-link active">Dispositivos   <a class="btn btn-primary" (click)="AtualizaLista();">Atualizar </a></a>

        </div>
        <div class="card-body">
            <form>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th scope="col">Codigo Dipositivo</th>
                          <th scope="col">Dispositivo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let busca of arduinos">
                          <td> {{busca.IdLora}} </td>
                          <td>{{busca.NomeArd}}</td>
                        </tr>
                      </tbody>
                      </table>
                      </div>
              </form>
        </div>
      </div>
  </div>
</section>
<section *ngSwitchCase="'dispositivos'">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="card card-register mx-auto mt-5">
                <div class="card-header text-center">Cadastro de Dispositivos</div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col-md-12">
                          <label for="NomeArd">Dispositivo</label>
                          <input class="form-control" id="NomeArd" name="NomeArd" type="text" placeholder="Digite o nome do dispositivo"[(ngModel)]="NomeArd" required>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-primary btn-block" (click)="cadastrarArduino(NomeArd);">Cadastrar</a>
                  </form>
                </div>
              </div>
          </div>
        <div class="col">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header text-center">Alterar Descrição do Dispositivo</div>
              <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-12">
                            <label for="NomeArd">Dispositivo</label>
                            <input class="form-control"  [(ngModel)]= "NomeArd" id="NomeArd" name="NomeArd" type="text" placeholder="Digite o novo nome do Dispositivo" required>
                          </div>
                        </div>
                      </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label for="arduino">Dispositivos</label>
                          <div class="form-group">
                            <select [(ngModel)]="IdLora" class="custom-select"  name="arduino">
                                <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                            </select>
                          </div>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block" (click)="alterarArd(IdLora); AtualizaLista();">Alterar Descrição</a>
                </form>
              </div>
            </div>
        </div>
        <div class="col">
                <div class="card card-register mx-auto mt-5">
                  <div class="card-header text-center">Deletar Dispositivo</div>
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-12">
                            <label for="arduino">Dispositivo</label>
                              <div class="form-group">
                                <select [(ngModel)]="IdLora" class="custom-select"  name="arduino">
                                    <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                      <a class="btn btn-primary btn-block" (click)="apagarArd(IdLora); AtualizaLista();">Deletar Dispositivo</a>
                    </form>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </section>
  <section *ngSwitchCase="'reportPulsosDisp'">
    <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header text-center">Relatorio de Consumo Por Dispositivo</div>
      <div class="card-body">
          <div class="form-row">
              <div class="col-md-12">
                <label for="arduinos">Selecione o Dispositivo</label>
                  <div class="form-group">
                    <select [(ngModel)]="IdLora" class="select"  name="arduinos">
                        <option *ngFor="let busca of arduinos" [value]="busca.IdLora">{{busca.IdLora}} | {{busca.NomeArd}}</option>
                    </select>
                    <a class="btn btn-primary" (click)="reportsPulsosDisp(IdLora);">Gerar Relatorio</a>
                  </div>
              </div>
            </div>
        <form>
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Cod Dispositivo</th>
                    <th>Cod Pulso</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let busca of relatorios">
                    <td>{{busca.IdLora}} </td>
                    <td>{{busca.codFlux}}</td>
                    <td>{{busca.dataPulso}}</td>
                  </tr>
                </tbody>
                </table>
                </div>
        </form>
      </div>
    </div>
  </div>
  </section>
  <section *ngSwitchCase="'reportPulsos'">
  <div class="container">
    <div class="card text-center">
        <div class="card-header">
              <a class="nav-link active">Pulsos  <a class="btn btn-primary" (click)="AtualizaLista();">Atualizar </a></a>
        </div>
        <div class="card-body">
            <form>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th scope="col">Cod Dispositivo</th>
                          <th scope="col">Cod Contagem</th>
                          <th scope="col">Data</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let busca of contagemDados">
                          <td> {{busca.IdLora}} </td>
                          <td> {{busca.codFlux}} </td>
                          <td> {{busca.dataPulso}} </td>
                        </tr>
                      </tbody>
                      </table>
                      </div>
              </form>
        </div>
      </div>
  </div>
</section>
  <section *ngSwitchCase="'sobreNos'">
    <div class="container">
      <div class="row">
      <div class="col-12">
      <div class="card card-inverse" style="background-color: rgb(255, 254, 254); border-color: rgb(255, 255, 255);">
      <div class="row">
      <div class="col">
        <br>
      <h4 class="card-title">Sistema de Controle Pluvial e Reuso Hidrico</h4>
      <p class="card-text"><strong>Idealizado: </strong> Claudio Faria, Igor Saraiva </p>
      <p class="card-text">Com os avanços tecnologicos existentes na area de controle, economia
        e automação de processos a Puc Minas <i>campus</i> Poços de Caldas viu a necessidade de melhorar
        seu controle pluvial, fazendo assim um sistema totalmente automatizado de controle. </p>
      <p><strong>Tecnologias </strong>
      <span class="badge bg-primary">ASP.NET</span>
      <span class="badge bg-info">Angular</span>
      <span class="badge bg-warning">Bootstrap</span>
      <span class="badge bg-success">Entity Framework</span>
      </p>
      <div class="row">
        <div class="col text-center">
            <img class="btn-md" src="https://i.imgur.com/1tA06lO.jpg" alt="" height="140" width="140" style="border-radius:40%;">
      </div>
      <div class="col text-center">
          <img class="btn-md" src="https://i.imgur.com/IeegpAv.jpg" alt="" height="140" width="140" style="border-radius:40%;">

      </div>
    </div>
        <div class="row">
            <div class="col text-center">
          <a href="https://www.linkedin.com/in/claudio-faria-60a76b143/" target="blank" class="btn btn-primary"><span class="fa fa-linkedin"></span> Claudio Faria</a>
          </div>
          <div class="col text-center">
              <a href="https://www.linkedin.com/in/igoralexandre/" target="blank" class="btn btn-primary"><span class="fa fa-linkedin"></span> Igor Saraiva</a>
          </div>
         </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
  </section>
    </form>
  </div>

  </html>
