<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ControlePluvial</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="~/Scripts/assets/logopuc.jpg">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
    <app-root>Loading...</app-root>

    <script type="text/javascript" src="~/Scripts/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/main.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>






