<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>ControlePluvial</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="~/Scripts/assets/logopuc.jpg">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <app-root>Loading...</app-root>

    <script type="text/javascript" src="~/Scripts/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/main.bundle.js"></script>
</body>
</html>






